<div class = "event">
  <h4> <%= link_to event.name, event %> </h4> 
  <%= event.street %></br>
    <%= event.zip_code %>
    <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    <% if event.created_by?(current_user) %>
      <%= link_to 'edit', edit_event_url(event) %>
      <%= link_to "destroy", user_event_url(current_user, :id => event.id), :method => :delete, :confirm => "Are you sure?" %>
    <% else %>
      <% if event.attended_by?(current_user) %>
        <p class="text-success" > Already attending! </p>
      <% else %>
      <p>
        <%= button_to 'Attend', event_attend_url(event, :user_id => current_user.id), :method => :post, :class => "btn btn-mini" %>
      <p>
      <% end %>
    <% end %>
</div> 