<h3>My Events</h3>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Address
    </th>
    <th>
      Date
    </th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.street %></br>
      <%= event.zip_code %>
    </td>
    <td>
      <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    </td>
    <td>
      <%= link_to 'edit', edit_event_url(event) %>
    </td>
  </tr>
<% end %>
</table>